.main{
    background: -webkit-linear-gradient(90deg, #f2e3e3,#f9f8fb,#e0d9f2);background: linear-gradient(90deg, #f2e3e3,#f9f8fb,#e0d9f2);
    position: relative;
    top: 70px;
    width: 200px;
    height: 400px;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    border-bottom: 20px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s ease-out;
}
.home{
    width: 20px;
    height: 20px;
    border: 2px  solid ;
    position: relative;
    margin: auto;
    border-radius: 10px;
    left: 4.5px;
    top: 357px;
    
}
.camera{
    width: 10px;
    height: 10px;
    border: 1px solid;
    position: relative;
    justify-content: center;
    margin: auto;
    top:5px;
    border-radius: 20px
}
.footer{
    position: relative;
    justify-items: center;
    margin: auto;

}
.main:hover{
    box-shadow: 2px 2px 15px black;
}